<div class="report-content trades">
    <div class="report-data" style="height: 31706px;">
        <div class="table-wrap" style="top: 0px;">
            <table class="reports-content__table-pointer">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <td>Operazione&nbsp;#</td>
                        <td>Tipo</td>
                        <td>Segnale</td>
                        <td class="date">Data/Ora</td>
                        <td>Prezzo</td>
                        <td>Contratti</td>
                        <td>Profitto</td>
                        <td>Profitto cum.</td>
                        <td>Massimale</td>
                        <td>Drawdown</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-e" data-time="1578187800000">
                        <td rowspan="2" class="trade-num">1</td>
                        <td class="trade-e-type">Entrata long</td>
                        <td class="trade-e-comment comment">SLPLong</td>
                        <td class="trade-e-date">2020-01-05&nbsp;02:30</td>
                        <td class="trade-e-price">7459.51</td>
                        <td rowspan="2" class="trade-contracts">0.010724</td>
                        <td rowspan="2" class="trade-profit"><span class="neg">-0.49</span>
                            <div class="additional_percent_value"><span class="neg">-0.62&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="cum-profit"><span class="neg">-0.49</span>
                            <div class="additional_percent_value"><span class="neg">-0.49&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="run-up">0.33<div class="additional_percent_value">0.42&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="draw-down"><span class="neg">0.84</span>
                            <div class="additional_percent_value"><span class="neg">1.05&nbsp;%</span></div>
                        </td>
                    </tr>
                    <tr class="row-x" data-time="1578225600000">
                        <td class="trade-x-type">Uscita long</td>
                        <td class="trade-x-comment comment">Close entry(s) order SLPLong</td>
                        <td class="trade-x-date">2020-01-05&nbsp;13:00</td>
                        <td class="trade-x-price">7422.46</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="row-e" data-time="1578283200000">
                        <td rowspan="2" class="trade-num">2</td>
                        <td class="trade-e-type">Entrata long</td>
                        <td class="trade-e-comment comment">SLPLong</td>
                        <td class="trade-e-date">2020-01-06&nbsp;05:00</td>
                        <td class="trade-e-price">7538.68</td>
                        <td rowspan="2" class="trade-contracts">0.010559</td>
                        <td rowspan="2" class="trade-profit"><span class="neg">-0.19</span>
                            <div class="additional_percent_value"><span class="neg">-0.24&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="cum-profit"><span class="neg">-0.68</span>
                            <div class="additional_percent_value"><span class="neg">-0.19&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="run-up">0.72<div class="additional_percent_value">0.91&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="draw-down"><span class="neg">0.65</span>
                            <div class="additional_percent_value"><span class="neg">0.82&nbsp;%</span></div>
                        </td>
                    </tr>
                    <tr class="row-x" data-time="1578337200000">
                        <td class="trade-x-type">Uscita long</td>
                        <td class="trade-x-comment comment">Close entry(s) order SLPLong</td>
                        <td class="trade-x-date">2020-01-06&nbsp;20:00</td>
                        <td class="trade-x-price">7529.71</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="row-e" data-time="1578355200000">
                        <td rowspan="2" class="trade-num">3</td>
                        <td class="trade-e-type">Entrata long</td>
                        <td class="trade-e-comment comment">SLPLong</td>
                        <td class="trade-e-date">2020-01-07&nbsp;01:00</td>
                        <td class="trade-e-price">7757.76</td>
                        <td rowspan="2" class="trade-contracts">0.010242</td>
                        <td rowspan="2" class="trade-profit">1.16<div class="additional_percent_value">1.45&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="cum-profit">0.47<div class="additional_percent_value">1.16&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="run-up">2.59<div class="additional_percent_value">3.25&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="draw-down"><span class="neg">0.06</span>
                            <div class="additional_percent_value"><span class="neg">0.07&nbsp;%</span></div>
                        </td>
                    </tr>
                    <tr class="row-x" data-time="1578407400000">
                        <td class="trade-x-type">Uscita long</td>
                        <td class="trade-x-comment comment">Close entry(s) order SLPLong</td>
                        <td class="trade-x-date">2020-01-07&nbsp;15:30</td>
                        <td class="trade-x-price">7879.98</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="row-e" data-time="1578443400000">
                        <td rowspan="2" class="trade-num">4</td>
                        <td class="trade-e-type">Entrata long</td>
                        <td class="trade-e-comment comment">SLPLong</td>
                        <td class="trade-e-date">2020-01-08&nbsp;01:30</td>
                        <td class="trade-e-price">8341.88</td>
                        <td rowspan="2" class="trade-contracts">0.009636</td>
                        <td rowspan="2" class="trade-profit"><span class="neg">-0.61</span>
                            <div class="additional_percent_value"><span class="neg">-0.75&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="cum-profit"><span class="neg">-0.13</span>
                            <div class="additional_percent_value"><span class="neg">-0.6&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="run-up">1.17<div class="additional_percent_value">1.46&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="draw-down"><span class="neg">0.97</span>
                            <div class="additional_percent_value"><span class="neg">1.21&nbsp;%</span></div>
                        </td>
                    </tr>
                    <tr class="row-x" data-time="1578488400000">
                        <td class="trade-x-type">Uscita long</td>
                        <td class="trade-x-comment comment">Close entry(s) order SLPLong</td>
                        <td class="trade-x-date">2020-01-08&nbsp;14:00</td>
                        <td class="trade-x-price">8288.98</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="row-e" data-time="1578645000000">
                        <td rowspan="2" class="trade-num">5</td>
                        <td class="trade-e-type">Entrata short</td>
                        <td class="trade-e-comment comment">SLPShort</td>
                        <td class="trade-e-date">2020-01-10&nbsp;09:30</td>
                        <td class="trade-e-price">7711.40</td>
                        <td rowspan="2" class="trade-contracts">0.010359</td>
                        <td rowspan="2" class="trade-profit"><span class="neg">-1.35</span>
                            <div class="additional_percent_value"><span class="neg">-1.69&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="cum-profit"><span class="neg">-1.49</span>
                            <div class="additional_percent_value"><span class="neg">-1.35&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="run-up">0.38<div class="additional_percent_value">0.48&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="draw-down"><span class="neg">1.60</span>
                            <div class="additional_percent_value"><span class="neg">2&nbsp;%</span></div>
                        </td>
                    </tr>
                    <tr class="row-x" data-time="1578659400000">
                        <td class="trade-x-type">Uscita short</td>
                        <td class="trade-x-comment comment">Close entry(s) order SLPShort</td>
                        <td class="trade-x-date">2020-01-10&nbsp;13:30</td>
                        <td class="trade-x-price">7832.65</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="row-e" data-time="1578670200000">
                        <td rowspan="2" class="trade-num">6</td>
                        <td class="trade-e-type">Entrata long</td>
                        <td class="trade-e-comment comment">SLPLong</td>
                        <td class="trade-e-date">2020-01-10&nbsp;16:30</td>
                        <td class="trade-e-price">8036.62</td>
                        <td rowspan="2" class="trade-contracts">0.009805</td>
                        <td rowspan="2" class="trade-profit">0.12<div class="additional_percent_value">0.15&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="cum-profit"><span class="neg">-1.37</span>
                            <div class="additional_percent_value">0.12&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="run-up">2.16<div class="additional_percent_value">2.74&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="draw-down"><span class="neg">1.26</span>
                            <div class="additional_percent_value"><span class="neg">1.6&nbsp;%</span></div>
                        </td>
                    </tr>
                    <tr class="row-x" data-time="1578740400000">
                        <td class="trade-x-type">Uscita long</td>
                        <td class="trade-x-comment comment">Close entry(s) order SLPLong</td>
                        <td class="trade-x-date">2020-01-11&nbsp;12:00</td>
                        <td class="trade-x-price">8058.50</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="row-e" data-time="1578925800000">
                        <td rowspan="2" class="trade-num">7</td>
                        <td class="trade-e-type">Entrata short</td>
                        <td class="trade-e-comment comment">SLPShort</td>
                        <td class="trade-e-date">2020-01-13&nbsp;15:30</td>
                        <td class="trade-e-price">8075.18</td>
                        <td rowspan="2" class="trade-contracts">0.009769</td>
                        <td rowspan="2" class="trade-profit"><span class="neg">-0.90</span>
                            <div class="additional_percent_value"><span class="neg">-1.14&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="cum-profit"><span class="neg">-2.27</span>
                            <div class="additional_percent_value"><span class="neg">-0.91&nbsp;%</span></div>
                        </td>
                        <td rowspan="2" class="run-up">0<div class="additional_percent_value">0&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="draw-down"><span class="neg">0.92</span>
                            <div class="additional_percent_value"><span class="neg">1.17&nbsp;%</span></div>
                        </td>
                    </tr>
                    <tr class="row-x" data-time="1578949200000">
                        <td class="trade-x-type">Uscita short</td>
                        <td class="trade-x-comment comment">Close entry(s) order SLPShort</td>
                        <td class="trade-x-date">2020-01-13&nbsp;22:00</td>
                        <td class="trade-x-price">8157.81</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="row-e" data-time="1578963600000">
                        <td rowspan="2" class="trade-num">8</td>
                        <td class="trade-e-type">Entrata long</td>
                        <td class="trade-e-comment comment">SLPLong</td>
                        <td class="trade-e-date">2020-01-14&nbsp;02:00</td>
                        <td class="trade-e-price">8277.35</td>
                        <td rowspan="2" class="trade-contracts">0.009445</td>
                        <td rowspan="2" class="trade-profit">3.12<div class="additional_percent_value">3.99&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="cum-profit">0.85<div class="additional_percent_value">3.19&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="run-up">6.01<div class="additional_percent_value">7.69&nbsp;%</div>
                        </td>
                        <td rowspan="2" class="draw-down"><span class="neg">0.07</span>
                            <div class="additional_percent_value"><span class="neg">0.09&nbsp;%</span></div>
                        </td>
                    </tr>
                    <tr class="row-x" data-time="1579062600000">
                        <td class="trade-x-type">Uscita long</td>
                        <td class="trade-x-comment comment">Close entry(s) order SLPLong</td>
                        <td class="trade-x-date">2020-01-15&nbsp;05:30</td>
                        <td class="trade-x-price">8617.98</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>